{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {%  else %}
        Whoops!
    {% endif %}
{% endblock %}

{% block body_block %}


<div>
    {% if category %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <p>
        {% if user.is_authenticated %}
            <a href="{% url 'add_page' category.slug %}">Add Page</a>
        {% endif %}

        </p>
    {% else %}
        The specified category does not exist!
    {% endif %}
</div>

{%  endblock %}